In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [2]:
iris = load_iris()
iris_df = pd.DataFrame(iris['data'], columns=iris['feature_names'])
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [3]:
target_df = pd.DataFrame(data=iris.target, columns=['species'])
target_df

     species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

In [4]:
def converter(specie):
    if specie == 0:
        return 'setosa'
    elif specie == 1:
        return 'versicolor'
    elif specie == 2:
        return 'verginica'

target_df['species'] = target_df['species'].apply(converter)
target_df.tail()

       species
145  verginica
146  verginica
147  verginica
148  verginica
149  verginica

In [5]:
df = pd.concat([iris_df, target_df],axis=1)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [6]:
x = df.drop('species', axis=1)
y = df['species']

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=1)

In [8]:
Iris_model = LogisticRegression()

In [9]:
Iris_model.fit(x_train,y_train)

C:\Users\VISHVANATH\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [10]:
y_pred = Iris_model.predict(x_test)

In [11]:
accuracy_score(y_test,y_pred)

0.9666666666666667

In [12]:
import pickle
pickle.dump(Iris_model, open('iris.pickle', 'wb'))# syntax for pickling a model file.
# wb >> write byte
# rb >> read byte

Pickle:
    it is a python module, it is a process of converting any kind of object structure into byte stream. 
    It is simply used fr saving the builded model.
    It simply allows us to transfer the file from one server/system to another.

In [13]:
def predict_species(SepalLengthCm,SepalWidthCm, PetalLengthCm, PetalWidthCm):
    x = np.zeros(4)
    x[0] = SepalLengthCm
    x[1] = SepalWidthCm
    x[2] = PetalLengthCm
    x[3] = PetalWidthCm
    species= Iris_model.predict([x])[0]
    return species

In [14]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [15]:
predict_species(5.1,3.5,1.4,0.2)

C:\Users\VISHVANATH\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

'setosa'